* {
	background-color: black;
}

.nav-bar {
	display: flex;
	background-color: blueviolet;
	flex-direction: column;
	color: black;
}

.nav-list {
	text-decoration: none;
}

.nav-item {
	text-decoration: none;
	list-style: none;
}