* {
	box-sizing: border-box;
	overflow: hidden;
}

html {
	background-color: #2f2f2f;
}

.wrapper {
	display: flex;
	background-color: #2f2f2f;
	width: 100%;

}

.nav-bar {
		flex-direction: column;
		height: 100vh;
		background-color: #121212 !important;
		align-items: unset;
		justify-content: safe;
		justify-items: first baseline;
		justify-content: space-around;
		flex-basis: 30%;
}

.nav-list {
	text-decoration: none;
		color: white;
		justify-content: start;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-basis: 100%;
		justify-content: space-around;
		margin: auto;
		width: 100%;
		justify-items: flex-end;
}

.nav-item {
	text-decoration: none;
		list-style: none;
		height: 100px;
		padding: 18px;
		margin: 25px;
		font-size: 1.5em;
}

.photos-list {
	display: inline-block;
	flex-direction: column;
	height: 100vh;
	flex-basis: 80%;
	justify-content: space-around;
	align-items: center;
	overflow-y: scroll;
}

.photo-container {
	background-color: blue;
	flex-basis: 70%;
	height: 650px;
	width: 600px;
	border-radius: 1em;
	margin: 20px;
	justify-content: center;
	display: flex;
		flex-direction: column;
}

.photo {
	height: 70%;
	background-color: coral;
	flex-basis: 90%;
	margin: 10px;
	border-radius: 1em;
}

.photo-buttons {
	height: 35px;
	background-color: green;
	color: white;
}

.caption {
	color: white;
		text-align: justify;
		padding: 5px;
		width: 95%;
		margin-left: 15px;
		letter-spacing: 1px;
		margin: 0 0 15px 10px;
}